<div class="container">
  <mat-card class="form-card">
    <div class="header">
      <h2>Registration Form</h2>
      <mat-slide-toggle (change)="isFormDisabled = !isFormDisabled">
        <span style="color: white">Enable Form</span>
      </mat-slide-toggle>
    </div>

    <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)" novalidate>
      <!-- Name -->
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          matInput
          name="name"
          ngModel
          required
          maxlength="100"
          pattern="^[a-zA-Z ]+$"
          placeholder="Name"
          #name="ngModel"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.name"
        />
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="name.invalid && (name.dirty || name.touched)"
      >
        <div *ngIf="name.errors?.['required']">name is required*</div>
        <div *ngIf="name.errors?.['maxlength']">
          max 100 characters allowed*
        </div>
        <div *ngIf="name.errors?.['pattern']">
          only letters and spaces allowed*
        </div>
      </div>

      <!-- Gender Dropdown -->
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select
          name="gender"
          #gender="ngModel"
          ngModel
          required
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.gender"
        >
          <mat-option  *ngFor="let gen of genders" [value]=gen>{{gen}}</mat-option>
         
        </mat-select>
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="gender.invalid && (gender.dirty || gender.touched)"
      >
        <div *ngIf="gender.errors?.['required']">gender is required*</div>
      </div>

      <!-- Date of Birth -->
      <mat-form-field appearance="outline">
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          name="dob"
          #dob="ngModel"
          min="1990-12-30"
          ngModel
          required
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.dob"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="dob.invalid && (dob.dirty || dob.touched)"
      >
        <div *ngIf="dob.errors?.['required']">dob is required*</div>
      </div>

      <!-- Phone -->
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input
          matInput
          name="phone"
          ngModel
          required
          maxlength="10"
          #phone="ngModel"
          pattern="^[0-9]{10}$"
          placeholder="Phone Number"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.phone"
        />
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="phone.invalid && (phone.dirty || phone.touched)"
      >
        <div *ngIf="phone.errors?.['required']">phone number is required*</div>
        <div *ngIf="phone.errors?.['pattern']">must be exactly 10 digits*</div>
      </div>

      <!-- Email -->
      <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input
          matInput
          name="email"
          ngModel
          required
          type="email"
          #email="ngModel"
          appCustomeEmail
          placeholder="Email address"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.email"
      /></mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="email.invalid && (email.dirty || email.touched)"
      >
        <div *ngIf="email.errors?.['required']">Email is required*</div>

        <div *ngIf="email.errors?.['invalidEmail']">Invalid email format*.</div>
      </div>

      <!-- Department Dropdown -->
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select
          name="department"
          #department="ngModel"
          ngModel
          required
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.department"
        >
          <mat-option *ngFor="let dep of departments" [value]=dep>{{dep}}</mat-option>

        </mat-select>
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="department.invalid && (department.dirty || department.touched)"
      >
        <div *ngIf="department.errors?.['required']">
          department is required*
        </div>
      </div>

      <!-- Address -->
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <textarea
          matInput
          name="address"
          ngModel
          required
          pattern="^[a-zA-Z0-9 ,.\-\n]+$"
          placeholder="Address"
          #address="ngModel"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.address"
        ></textarea>
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="address.invalid && (address.dirty || address.touched)"
      >
        <div *ngIf="address.errors?.['required']">address is required*</div>
      </div>

      <!-- State -->
      <mat-form-field appearance="outline">
        <mat-label>State</mat-label>
        <mat-select
          matInput
          name="state"
          ngModel
          required
          placeholder="State"
          #state="ngModel"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.state"

          
        >
        <mat-option *ngFor="let state of states" [value]="state" (click)="getEmployeeState($event)" >{{state}}</mat-option>
      </mat-select>
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="state.invalid && (state.dirty || state.touched)"
      >
        <div *ngIf="state.errors?.['required']">state is required*</div>
      </div>

      <!-- City -->
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select
          matInput
          name="city"
          required
          placeholder="City"
          #city="ngModel"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.city"
        >
          <mat-option *ngFor="let city of empCities" [value]=city>{{city}}</mat-option>
        
        </mat-select>
      </mat-form-field>

      <div
        class="alert alert-danger"
        *ngIf="city.invalid && (city.dirty || city.touched)"
      >
        <div *ngIf="city.errors?.['required']">city is required*</div>
        <div *ngIf="city.errors?.['pattern']">
          only letters and spaces allowed*
        </div>
      </div>

      <!-- Zip Code -->
      <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input
          matInput
          name="zipCode"
          ngModel
          required
          #zipcode="ngModel"
          maxlength="6"
          pattern="^[0-9]{6}$"
          placeholder="Zip Code"
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.zipCode"
        />
      </mat-form-field>
      <div
        class="alert alert-danger"
        *ngIf="zipcode.invalid && (zipcode.dirty || zipcode.touched)"
      >
        <div *ngIf="zipcode.errors?.['required']">zip code is required*</div>
        <div *ngIf="zipcode.errors?.['maxlength']">
          zip code must be 6 digits*
        </div>
        <div *ngIf="zipcode.errors?.['pattern']">
          zip code must be in digits*
        </div>
      </div>

      <!-- Date of Joining -->
      <mat-form-field appearance="outline">
        <mat-label>Date of Joining</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          name="doj"
          #doj="ngModel"
          min="2000-12-30"
          ngModel
          [disabled]="isFormDisabled"
          [(ngModel)]="employee.doj"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>

      <!-- Terms Checkbox -->
      <mat-checkbox
        name="terms"
        [(ngModel)]="ischecked"
        required
        [disabled]="isFormDisabled"
      >
        I accept the terms and conditions
      </mat-checkbox>

      <div *ngIf="selectedId == null; then ifBlock; else elseBlock"></div>
      <div class="sendButton">
        <ng-template #ifBlock>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!ischecked || employeeForm.invalid || isFormDisabled"
          >
            Register
          </button>
        </ng-template>
        <ng-template #elseBlock>
          <button
            type="submit"
            mat-raised-button
            color="primary"
            [disabled]="!ischecked || employeeForm.invalid || isFormDisabled"
          >
            Edit
          </button>
        </ng-template>
      </div>
    </form>
  </mat-card>
</div>
